.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  font-family: 'DM Sans';
}

.css-11n72x4-MuiStack-root:hover > div{
  display: flex;
}

.swiper-container {
  position: relative;
  width: 100%;
}

.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.swiper-button.left {
  left: 10px;
}

.swiper-button.right {
  right: 10px;
}

.swiper-button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.mySwiper {
  width: 100%;
  height: 100%;
}
